p{
    text-align: center;
    font-size: 24px;
}

#pass-form{
    width: 800px;
    margin: 70px auto;
}

#pass-form input[type="password"] {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 5px;
    text-align: center;
}
#pass-form button[type="submit"] {
    width: 200px;
    margin: 10px auto;
    display: block;
    font-size: 24px;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}
#pass-form button[type="submit"]:hover {
    color: white;
    background-color: black;
}