.header {
    margin-top: 50px;
}
.row {
    width: 100%;
    margin: 10px auto;
    font-size: 15px;
}
.orderid {
    width: 10%;
    display: inline-block;
}
.userid{
    width: 10%;
    display: inline-block;
}

.orderpostition{
    width: 38%;
    display: inline-block;
}

.price {
    width: 12%;
    display: inline-block;
}
.status {
    width: 18%;
    display: inline-block;
}
#order{
    text-align: right;
}
