<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unicorn Book Store</title>
    <link rel="stylesheet" href="/commons.css">
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
<div id="page">
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <form method="post" id="edit-form">
        <input type="text" th:field="*{book.title}">
        <input type="text" th:field="*{book.author}">
        <input type="text" th:field="*{book.isbn}">
        <input type="text" th:field="*{book.price}">
        <input type="text" th:field="*{book.pieces}">
        <input type="submit">
    </form>
</div>
</div>
</body>
</html>