<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Travel</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/commons.css">
</head>
<body>
<div id="menu" th:fragment="menu">
    <a href="/main" class="menu-button">Strona główna</a>
    <a href="/contact" class="menu-button">Kontakt</a>

</div>

<img src="/logo.png" id="logo" th:fragment="logo">
</body>
</html>